body {
    background: #fff;
    color: #000;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
.nav {
    background: #FBB03B;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow:  3px 3px 5px 6px #666;
}
.logo {
}
.menuTop {
    display: flex;
    list-style: none;
    height: 60px;
    justify-content: space-around;
}
.menuTop-but {
    display: flex;
}
.menuTop-but a {
    color: #FFF;
    text-decoration: none;
    padding: 15px 5px;
    margin: auto;
}
.menuTop-but a:hover, .active {
    background-color: #FBD03B;
    color: #000000;
    font-weight: bold;
}
.container {
    background-color: #EFEFEF;
    margin: 0;
    padding: 25px 30px;
}
h1 {
    font-size: 30px;
    margin-bottom: 25px;
}
.intro {
    font-size: 20px;
    line-height: 25px;
}
.mb30 {
    margin-bottom: 150px;
}
.profiles {
    display: flex;
    justify-content: space-between;
}
.profiles li {
    border: 1px solid #000000;
    width: 250px;
    margin-right: 60px;
}
.img-profile {
    width: 250px;
    border-radius: 50%;
    border: 1px solid #FBB03B;
    margin-bottom: 10px;
}
.img-link {
    width: 250px;
}













