body {
    background: #FFF;
    color: #000;
    font-family:"Verdana";
    font-size: 16px;
    margin: 0;
    padding: 0;
}
.nav {
    background: #FBB03B;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}
.logo {
}
.menuTop {
    display: flex;
    list-style: none;
    height: 60px;
    justify-content: space-around;
}
.menuTop-but {
    display: flex;
}
.menuTop-but a {
    color: #FFF;
    text-decoration: none;
    padding: 20px 40px;
    margin: auto;
}
.menuTop-but a:hover, .active {
    background-color: #FBD03B;
    color: #000000;
    font-weight: bold;
}














