body {
    background: #EFEFEF;;
    color: #000;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
.nav {
    background: #FBB03B;
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 0 ;
    box-shadow: 0px 10px 10px -6px #999999;
    position: fixed;
    z-index: 100;
    width: 100%;
    align-items: center;
}
.logo{
    margin-left: 25px;
}
.menuTop {
    display: flex;
    list-style: none;
    height: 60px;
    justify-content: space-around;
    margin-right: 25px;
}
.menuTop-but {
    display: flex;
}
.menuTop-but a {
    color: #FFF;
    text-decoration: none;
    padding: 0 10px;
    margin: auto;
    font-weight: bold;
}
.active {
    background-color: #FBD03B;
    color: #000000;
}
.menuTop-but a:hover {
    color: #000000;
}
/*QUIENES SOMOS;*/
.container {
    margin: 0;
    padding: 100px 30px;
}
h1 {
    font-size: 30px;
    margin-bottom: 25px;
}
.intro {
    font-size: 20px;
    line-height: 25px;
}
.mb30 {
    margin-bottom: 150px;
}
.profiles {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.profiles li {
    width: 250px;
    margin: 0 60px 125px 0;
}
.profiles li a {
    text-decoration: none;
}
.img-profile {
    width: 250px;
    border-radius: 50%;
    border: 1px solid #999;
    margin-bottom: 10px;
}
.img-link {
    width: 15px;
}
/*QUE HACEMOS;*/
.banner {
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    background-color: fuchsia;
    }
.container {
    background-image: url("background.png");
}












